<!-- posts -->
<div class="blog">
		<div class="blog-content">
			<div class="blog-content-left">
				<div class="blog-articals">
				<div class="blog-artical" ng-repeat="post in posts">
					<div class="blog-artical-info">
						<div class="blog-artical-info-img">
							<a href="single.html"><img src="assets/images/7.jpg" title="post-name"></a>
						</div>
						<div class="blog-artical-info-head">
							<h2><a ng-href="/#/single-post">{{ post.title }}</a></h2>
							<h6>Posted on {{post.createdOn | date:'MMM dd, yyyy  h:mma'}} by {{ post.author.username }}</h6>
							
						</div>
						<div class="blog-artical-info-text">
							<p>{{ post.body | limitTo: 500 }}...
							<a ng-href="/#/single-post" class="hvr-bounce-to-bottom quod">Read More</a>
							</p>
						</div>
						<div class="artical-links">
  						 	<ul>
  						 		<li><small> </small><span>june 14, 2013</span></li>
  						 		<li><a href="#"><small class="admin"> </small><span>admin</span></a></li>
  						 		<li><a href="#"><small class="no"> </small><span>No comments</span></a></li>
  						 		<li><a href="#"><small class="posts"> </small><span>View posts</span></a></li>
  						 		<li><a href="#"><small class="link"> </small><span>permalink</span></a></li>
  						 	</ul>
  						 </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- posts -->