<!-- registration -->
<div class="main-1">
	<div class="register">
  	  <form ng-submit="register()"> 
		 <div class="register-top-grid">
			<h3>PERSONAL INFORMATION</h3>
			 <div class="wow fadeInLeft" data-wow-delay="0.4s">
				<span>Full Name<label>*</label></span>
				<input type="text" ng-model="user.fullname" required> 
			 </div>
			 <div class="wow fadeInRight" data-wow-delay="0.4s">
				 <span>Email Address:<label>*</label></span>
				 <input type="text" ng-model="user.email" required> 
			 </div>
			  <div class="clearfix"> </div>

			 <div class="clearfix"> </div>
		</div>
	    <div class="register-bottom-grid">
			<h3>LOGIN INFORMATION</h3>
			<div class="wow fadeInLeft" data-wow-delay="0.4s">
				<span>Username:<label>*</label></span>
				<input type="text" ng-model="user.username" required>
			</div>
			<div class="wow fadeInLeft" data-wow-delay="0.4s">
				<span>Password:<label>*</label></span>
				<input type="password" ng-model="user.password" required>
			</div>
				<div class="wow fadeInRight" data-wow-delay="0.4s">
				<span>Confirm Password:<label>*</label></span>
				<input type="password" ng-model="user.confirmPassword" required>
			</div>
		</div> 
		<div class="register-but">
			<input type="submit" value="submit">
		</div>
		</form>
		<div class="clearfix"> </div>
		</div>
   </div>
</div>
<!-- registration -->