<!-- register -->
<div class="sign-up-form">
	<h3>Register Here</h3>
		<p>By creating an account with this blog page, you will be able to add new articles, manage its content and more.</p>
	<div class="sign-up">
		<form ng-submit="register()">

			<div class="row">
				<h5>Personal Information</h5>
			</div>

			<div class="sign-u">
				<div class="sign-up1">
					<h4 class="a">Full Name* :</h4>
				</div>
				<div class="sign-up2">						
						<input ng-model="user.fullname" type="text" required=" "/>					
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="sign-u">
				<div class="sign-up1">
					<h4 class="c">Email Address* :</h4>
				</div>
				<div class="sign-up2">
						<input ng-model="user.email" type="email" required=" "/>			
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="row">
				<h5>Login Information</h5>
			</div>
			
			<div class="sign-u">
				<div class="sign-up1">
					<h4 class="d">Username* :</h4>
				</div>
				<div class="sign-up2">				
					<input ng-model="user.username" type="text" required=" "/>		
				</div>
			</div>

			<div class="sign-u">
				<div class="sign-up1">
					<h4 class="d">Password* :</h4>
				</div>
				<div class="sign-up2">				
					<input ng-model="user.password" type="password" required=" "/>						
				</div>
			</div>

			<div class="sign-u">
				<div class="sign-up1">
					<h4>Confirm Password* :</h4>
				</div>
				<div class="sign-up2">	
					<input ng-model="user.confirmPassword" type="password" required=" "/>
				</div>
				<div class="clearfix"> </div>
			</div>
			<input type="submit" value="Submit">
		</form>
	</div>
</div>
<!-- //register -->