<!-- register -->
<div class="login">
		<div class="login-grids">
			<div class="col-md-6 log">
					 <h3>Register here</h3>
					<p>By creating an account with this blog page, you will be able to add new articles, manage its content and more.</p>
					 <form ng-submit="register()">

					 	<div class="registerForm"><h4>Personal Information</h4></div>
						 <h5>Full Name:</h5>	
						 <input type="text" ng-model="user.fullname">
						 <h5>Email Address:</h5>
						 <input type="email" ng-model="user.email">	

		      			<div class="registerForm"><h4>Login Information</h4></div>
		      			 <h5>Username:</h5>	
						 <input type="text" ng-model="user.username">
		      			<h5>Password:</h5>
						 <input type="password" ng-model="user.password">		
						 <h5>Confirm Password:</h5>
						  <input type="password" ng-model="user.confirmPassword">		
						 <input type="submit" value="Register">			
					 </form>
			</div>
			<div class="col-md-6 login-right">
					<h3>If registered</h3>
					<p>If you already have a registration, please use the link below to sign in.</p>
					<a ng-href="/#/login" class="hvr-bounce-to-bottom button">Sign In</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
<!-- //register -->