<!--single -->
<div class="content-top">
	<div class="single">
		<div class="single-top">	
			<img src="assets/images/7.jpg" class="img-responsive" alt="">		
			<h3>{{post.title}}</h3>	
			<p class="sin">{{post.body}}</p>
			<div class="artical-links">
			 	<ul>
			 		<li><small> </small><span>{{post.createdOn | date:'MMM dd, yyyy  h:mma'}}</span></li>
			 		<li><a href="#"><small class="admin"> </small><span>{{post.author.username}}</span></a></li>
			 		<li><a href="#"><small class="no"> </small><span>{{post.comments.length}} comments</span></a></li>
			 		<li><a ng-href="/#/posts"><small class="posts"> </small><span>View posts</span></a></li>
			 	</ul>
			 </div>

			<div class="respon">
				<h2>Comments:</h2>
				<div class="strator" ng-repeat="comment in post.comments">
					<h5>{{comment.author.username}}</h5>
					<p>{{comment.createdOn | date:'MMM dd, yyyy  h:mma'}}</p>
						<div class="strator-left">
							<img src="assets/images/co.png" class="img-responsive" alt="">
						</div>
						<div class="strator-right">
							<p class="sin">{{comment.body}}</p>
						</div>
					<div class="clearfix"></div>
					<div class="rep">
						<a href="#" class="reply">REPLY</a>
					</div>
				</div>
				<div class="strator1">
					<h5>JANE DOE</h5>
					<p>feb 20th, 2015 at 9:41 pm</p>
						<div class="strator-left">
							<img src="images/co.png" class="img-responsive" alt="">
						</div>
						<div class="strator-right">
							<p class="sin">Text.</p>
						</div>
					<div class="clearfix"></div>
					<div class="rep">
						<a href="#" class="reply">REPLY</a>
					</div>
				</div>
				<div class="comment">
					<h2>Leave a comment</h2>
					<div>
					 	<h4>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h4>
					</div>
					<form ng-submit="addComment()">
					 <textarea value="Message:" placeholder="Message" ng-model="comment.body" required>Message</textarea>
					 <div class="smt1">
						<input type="submit" value="add a comment">
					 </div>
				   </form>
				</div>
			</div>
		</div>

		<div class="blog-content-right">
				<!-- start-tag-weight-->
				<div class="b-tag-weight">
					<h3>Tags Weight</h3>
					<ul>
						<li><a href="#">Lorem</a></li>
						<li><a href="#">consectetur</a></li>
						<li><a href="#">dolore</a></li>
						<li><a href="#">aliqua</a></li>
						<li><a href="#">sit amet</a></li>
						<li><a href="#">ipsum</a></li>
						<li><a href="#">Lorem</a></li>
						<li><a href="#">consectetur</a></li>
						<li><a href="#">dolore</a></li>
						<li><a href="#">aliqua</a></li>
						<li><a href="#">sit amet</a></li>
						<li><a href="#">ipsum</a></li>
					</ul>
				</div>
				<!---- //End-tag-weight---->
			</div>
			<div class="clearfix"> </div>
	</div>
</div>