<!--single -->
<div class="content-top">
	<div class="single">
		<div class="single-top">	
			<img src="assets/images/7.jpg" class="img-responsive" alt="">		
			<h3>{{post.title}}</h3>	
			<p class="sin" ng-bind-html="post.body"></p>
			<div class="artical-links">
			 	<ul>
			 		<li><i class="fa fa-calendar" aria-hidden="true"></i><span>{{post.createdOn | date:'MMM dd, yyyy  h:mma'}}</span></li>
			 		<li><i class="fa fa-user" aria-hidden="true"></i><span>{{post.author.username}}</span></li>
			 		<li><i class="fa fa-commenting" aria-hidden="true"></i><span>{{post.comments.length}} comments</span></li>
			 		<li><a ng-href="/#/posts/{{post._id}}"><i class="fa fa-pencil" aria-hidden="true"></i><span>edit</span></li>
			 		<li><a ng-href="/#/posts"><i class="fa fa-trash" aria-hidden="true"></i><span>delete</span></a></li>
			 		<li>
			 			<button class="btn" ng-click="open()"> Comment</button>
			 		</li>
			 	</ul>
			 </div>

			<div class="respon">
				<h2>Comments:</h2>
				<div class="strator" ng-repeat="comment in post.comments">
					<h5>{{comment.author.username}}</h5>
					<p>{{comment.createdOn | date:'MMM dd, yyyy  h:mma'}}</p>
						<div class="strator-left">
							<img src="assets/images/co.png" class="img-responsive" alt="">
						</div>
						<div class="strator-right">
							<p class="sin">{{comment.body}}</p>
						</div>
					<div class="clearfix"></div>
					<div class="rep">
						<a href="#" class="reply">REPLY</a>
					</div>
				</div>
				<div class="strator1">
					<h5>JANE DOE</h5>
					<p>feb 20th, 2015 at 9:41 pm</p>
						<div class="strator-left">
							<img src="assets/images/co.png" class="img-responsive" alt="">
						</div>
						<div class="strator-right">
							<p class="sin">Text.</p>
						</div>
					<div class="clearfix"></div>
					<div class="rep">
						<a href="#" class="reply">REPLY</a>
					</div>
				</div>
			</div>
		</div>

		<div class="blog-content-right">
				<!-- start-tag-weight-->
				<div class="b-tag-weight">
					<h3>Tags Weight</h3>
					<ul>
						<li><a href="#">Lorem</a></li>
						<li><a href="#">consectetur</a></li>
						<li><a href="#">dolore</a></li>
						<li><a href="#">aliqua</a></li>
						<li><a href="#">sit amet</a></li>
						<li><a href="#">ipsum</a></li>
						<li><a href="#">Lorem</a></li>
						<li><a href="#">consectetur</a></li>
						<li><a href="#">dolore</a></li>
						<li><a href="#">aliqua</a></li>
						<li><a href="#">sit amet</a></li>
						<li><a href="#">ipsum</a></li>
					</ul>
				</div>
				<!---- //End-tag-weight---->
			</div>
			<div class="clearfix"> </div>
	</div>
</div>