<!DOCTYPE html>
<html>

  <head>

    <title>Wonderland's Blog</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href="assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="assets/css/style.css" rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
	<!-- <link href="assets/css/common.css" rel='stylesheet' type='text/css' />
	<link href="assets/css/style5.css" rel='stylesheet' type='text/css' /> -->

	<script src="assets/js/jquery.min.js" type="text/javascript"></script>
	<script  src="assets/js/jquery.flexisel.js" type="text/javascript"></script>
	<script  src="assets/js/responsiveslides.min.js" type="text/javascript"></script>
	
	<!-- <script  src="assets/js/easyResponsiveTabs.js" type="text/javascript"></script>
	<script src="assets/js/bootstrap.js" type="text/javascript"></script>
	<script  src="assets/js/jquery.swipebox.min.js" ></script> -->


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
   	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="app.module.js"></script>
    <script src="controllers/HomeController.js"></script>
    <script src="controllers/PostController.js"></script>
    <script src="controllers/AuthController.js"></script>
    <script src="controllers/AlertController.js"></script>
    <script src="services/PostService.js"></script>
    <script src="services/AuthService.js"></script>
    <script src="services/AlertService.js"></script>
    <script src="directives/slider.js"></script>
    <script src="app.routes.js"></script>
   
  </head>

  <body ng-app="blog">
<!-- banner-body -->
	<!-- header-nav -->
	<div ng-include="'views/header-nav.html'"></div>
	<!-- //header-nav -->

	<div class="container">
			<!-- alerts -->
			<div class="alerts">
						<div ng-repeat="alert in alerts" type="{{alert.type}}" class="alert alert-{{alert.type}}"  id="scrollToDivID" close="closeAlert(alert.index)">{{ alert.msg }}</div>
			</div>
			<!-- //alerts -->
	
			<ui-view></ui-view>	
	
	</div>
	<!-- footer -->
	<div class="footer-bottom">
		<div class="container">
			<p>© 2016 Wonderland Blog. All rights reserved.</p>
		</div>
	</div>
	<!-- //footer -->
		
</body>
</html>